<template>
  <layout-default>
    <div class="HomeContainer">
      <div
        class="HeroSection HeroSection__image"
        :style="{ 'background-image': `url(${currentImage})` }"
      >
        <div class="HeroSection__text">
          <h1 style="font-size:50px">Unsplash</h1>
          <div class="homeDescription">
            The internet’s source of
            <a class="linksHover license">freely-usable images</a>.
            <br />
            Powered by creators everywhere.
          </div>
          <br />
          <input
            type="text"
            name="search"
            placeholder="Search.."
            v-on:keyup.enter="searchNow"
            class="homeSearch"
          />

          <div class="trendContainer">
            <b>Trending: </b>
            <span />
            <router-link
              v-for="(item, index) in trendMockup"
              :key="index"
              :to="item.link"
              class="linksHover"
            >
              {{ item.name }}
            </router-link>
          </div>
        </div>

        <div class="HeroSection__PhotoOfTheDay">
          <p>
            <a class="linksHover attention" :href="currentImage"
              >Photo of the Day</a
            >
            by<a class="linksHover attention">John Doe</a>
          </p>
        </div>
      </div>

      <div class="ImageContainer" style="max-width: 1400px; margin: 0 auto">
        <Image-Container class="imagesH" :items="items"> </Image-Container>
      </div>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layouts/DefaultLayout.vue";
import ImageContainer from "@/components/ImageCard.vue";

import refreshAPI from "@/mixins/refreshAPI";

export default {
  name: "home",
  metaInfo: {
    title: "Beautiful Free Images & Pictures",
    meta: [
      {
        vmid: "description",
        name: "description",
        content: "Unsplash home page"
      }
    ]
  },
  mixins: [refreshAPI],
  components: {
    LayoutDefault,
    ImageContainer
  },
  data: function() {
    return {
      items: [],
      currentImage:
        "https://images.unsplash.com/40/rqZBrx1WRsCtkqGSVBK6_IMG_0063.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=438&h=136.875&q=60",
      searchValue: "",
      trendMockup: [
        { name: "Flower", link: "/s/flower" },
        { name: "Wallpapers", link: "/s/wallpapers" },
        { name: "Backgrounds", link: "/s/backgrounds" },
        { name: "Love", link: "/s/love" }
      ]
    };
  },
  methods: {
    searchNow(event) {
      const textbox = event.target;
      this.searchValue = textbox.value;

      if (!this.searchValue) {
        return;
      }

      this.$router.push("/s/" + this.searchValue);

      textbox.value = "";
      this.searchValue = "";
    }
  }
};
</script>

<style lang="scss">
.attention {
  font-weight: bold;
}

.license {
  text-decoration: underline;
}

.trendContainer {
  margin-top: 20px;
}

.linksHover {
  display: inline-block;
  color: $inactiveColor;

  &:hover {
    cursor: pointer;
    color: white;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.homeDescription {
  line-height: normal;
}

.HomeContainer {
  display: grid;

  grid-template-rows: 550px auto;
  grid-template-areas:
    "hero"
    "mainBody";
}

.HeroSection {
  grid-area: hero;
  position: absolute;
  left: 0;
  right: 0;
  position: relative;

  &__image {
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
  }

  &__text {
    color: white;
  }

  &__PhotoOfTheDay {
    left: 0;
    bottom: 0;
    position: absolute;
    color: rgb(219, 219, 219);
    padding-left: 30px;
    font-size: 0.8em;
  }
}

.ImageContainer {
  grid-area: mainBody;
  padding: 0 25px;
}
.homeSearch {
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 1em;
  padding: 12px;
  width: 100%;
  border: 2px solid white;

  &:hover,
  &:focus {
    border: 2px solid $baseColour;
  }
}

.imagesH {
  margin-top: 30px;
}

@media only screen and (min-width: 769px) {
  .HeroSection {
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .HomeContainer {
    grid-template-rows: 300px auto;
  }

  .homeSearch {
    display: none;
  }

  .HeroSection {
    &__PhotoOfTheDay {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .HeroSection {
    padding-left: 30px;
  }

  .imagesH {
    left: 0;
    right: 0;
    position: absolute;
  }
}
</style>
