<template>
  <layout-default>
    <div class="SearchContainer">
      <h1 class="searchHeader">
        {{ getSlugTitle }}
      </h1>

      <Image-Container class="images" :items="items"> </Image-Container>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layouts/DefaultLayout.vue";
import ImageContainer from "@/components/ImageCard.vue";

import refreshAPI from "@/mixins/refreshAPI";

export default {
  metaInfo() {
    return {
      title: this.currentTitle,
      meta: [{ name: "description", content: this.currentTitle + " Pictures" }]
    };
  },
  mixins: [refreshAPI],
  components: {
    LayoutDefault,
    ImageContainer
  },
  data: function() {
    return {
      items: [],
      computedtitle: ""
    };
  },
  computed: {
    currentTitle: function() {
      let currentTitle = this.$route.params.slug;
      return (
        currentTitle.charAt(0).toUpperCase() +
        currentTitle.slice(1) +
        " Pictures"
      );
    },
    getSlugTitle: function() {
      let currentTitle = this.$route.params.slug;
      return currentTitle.charAt(0).toUpperCase() + currentTitle.slice(1);
    }
  }
};
</script>

<style lang="scss">
.SearchContainer {
  max-width: 1300px;
  margin: 0 auto;
}

.images {
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .SearchContainer {
    padding: 0;
  }

  .searchHeader {
    font-size: 2em;
    line-height: 1.2;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .SearchContainer {
    padding: 30px;
  }
}
</style>
