<template>
  <layout-default>
    <div class="TagContainer">
      <div class="TagDescriptions">
        <div class="DescriptionT">
          <h1 class="DescriptionT__TagHeader">
            {{ currentTagData.title }}
          </h1>

          <p class="DescriptionT__TagSubDescription">
            {{ currentTagData.description }}
          </p>

          <div class="author">
            <div v-if="!sponsored" style="margin-top: -10px">
              <img class="author__icon" :src="currentTagData.Logo" />
              <div class="author__text">
                Curated by <a class="externalLink">Boxed Water is Better</a>
              </div>
            </div>
          </div>
        </div>
        <div class="InfoBoxT">
          <div class="InfoBoxT__status">
            <div class="tableRow">
              <div class="tableRow__title">
                <font-awesome-icon
                  :icon="statusIcon"
                  style="margin-right: 5px; color: grey"
                />
                Status
              </div>
              <div class="tableRow__value">
                <Status-Container
                  :statusLine="currentTagData.status"
                  style="margin-right: -5px;"
                />
              </div>
            </div>
            <hr />
            <div class="tableRow">
              <div class="tableRow__title">
                <font-awesome-icon
                  :icon="peopleIcon"
                  style="margin-right: 5px; color: grey"
                />

                Contributions
              </div>
              <div class="tableRow__value">
                {{ currentTagData.contributions }}
              </div>
            </div>
            <hr />

            <div class="tableRow">
              <div class="tableRow__title">
                <font-awesome-icon
                  :icon="peopleIcon"
                  style="margin-right: 5px; color: grey"
                />

                Top contributors
              </div>
              <div class="tableRow__value">
                Icon Icon Icon
              </div>
            </div>
          </div>

          <button class="InfoBoxT__submit">
            Submit to <b>{{ currentTitle }}</b>
          </button>
          <div class="InfoBoxT__text" v-if="currentTagData.date != ''">
            <font-awesome-icon
              :icon="timeIcon"
              style="margin-right: 5px; color: grey"
            />
            <div style="display: inline-block">
              <p v-if="currentTagData.status === 'Open'">
                Open to contributions until {{ currentTagData.date }}.
              </p>

              <p v-if="currentTagData.status === 'Closed'">
                Contributions closed on {{ currentTagData.date }}.
              </p>
            </div>
          </div>
        </div>
      </div>

      <Image-Container class="imagesT" :items="items"> </Image-Container>
    </div>
  </layout-default>
</template>

<script>
import StatusContainer from "@/components/statusContainer.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faQuestionCircle,
  faUserFriends,
  faHistory
} from "@fortawesome/free-solid-svg-icons";

import LayoutDefault from "@/layouts/DefaultLayout.vue";
import ImageContainer from "@/components/ImageCard.vue";
import { store } from "@/statics/data/store.js";

import refreshAPI from "@/mixins/refreshAPI";

export default {
  metaInfo() {
    return {
      title: this.currentTitle,
      meta: [
        {
          vmid: "description",
          name: "description",
          content: this.currentTitle
        }
      ]
    };
  },
  mixins: [refreshAPI],
  components: {
    LayoutDefault,
    ImageContainer,
    FontAwesomeIcon,
    StatusContainer
  },
  data: function() {
    return {
      items: [],
      statusIcon: faQuestionCircle,
      peopleIcon: faUserFriends,
      timeIcon: faHistory,
      computedtitle: "",
      sponsored: false,
      description:
        "From photos of plastic pollution to shots of peaceful moments in nature — we’ve teamed up with Boxed Water Is Better to curate a special Sustainability topic to celebrate our planet. And from now until August 31st, as part of their #BetterPlanet initiative, you can submit your best sustainability photos for a chance to be featured. For every photo submitted, Boxed Water will also plant 2 trees in U.S. National forests, up until 5,000 trees.",
      currentTagData: []
    };
  },
  methods: {
    getSearchTagParams: function() {
      for (const item of store.features) {
        if (item.title === this.$route.params.slug) {
          this.currentTagData = item;
          return true;
        }
      }
      this.$router.push("/404");
      return false;
    }
  },
  computed: {
    currentTitle: function() {
      let currentTitle = this.$route.params.slug;
      return currentTitle.charAt(0).toUpperCase() + currentTitle.slice(1);
    }
  },
  created: function() {
    this.getSearchTagParams();
  },
  watch: {
    "$route.params.slug": function() {
      this.getSearchTagParams();
    }
  }
};
</script>

<style lang="scss">
.tableRow {
  display: flex;
  padding: 10px 0;
  font-size: 0.9m;

  &__title {
    margin-top: 10px;
    margin-right: auto;
  }

  &__value {
    margin-left: auto;
  }
}

.TagContainer {
  padding: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #333;
}
.TagDescriptions {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas: "description information";
}

.DescriptionT {
  grid-area: description;
  padding-right: 120px;

  &__TagHeader {
    font-size: 2em;
    line-height: 1.2;
  }

  &__TagSubDescription {
    font-size: 0.9em;
  }
}

.author {
  margin-top: 40px;

  &__icon {
    height: 40px;
    width: 40px;
    background: red;
  }

  &__text {
    margin-top: 10px;
    font-size: 0.9em;
  }
}

.externalLink {
  color: $inactiveButton;

  &:hover {
    cursor: pointer;
    color: black;
  }
}

.InfoBoxT {
  grid-area: information;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 40px 20px;

  grid-template-areas:
    "status"
    "submit"
    "info";

  &__status {
    grid-area: status;
    align-self: center;
    border-radius: 5px;
    border: 1px grey solid;
    padding: 5px 20px;
    font-size: 0.9em;
  }

  &__submit {
    padding: 10px 0;
    height: max-content;
    grid-area: submit;
    background-color: black;
    color: white;
    outline: 0;
    border: 2px white solid;

    &:hover {
      background-color: $backgroundColor;
      color: black;
      border: 2px black solid;
      cursor: pointer;
    }
  }

  &__text {
    text-align: center;
    margin-top: 10px;
    grid-area: info;
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 980px) {
  .InfoBoxT {
    grid-template-rows: auto;

    &__status {
      border: none;
      padding: 20px 0;
    }
  }

  .DescriptionT {
    padding-right: 0;
  }

  .TagDescriptions {
    grid-template-columns: 1fr;
    grid-template-areas:
      "description"
      "information";
  }
}

.imagesT {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .imagesT {
    left: 0;
    right: 0;
    position: absolute;
  }
}
</style>
