<template>
  <layout-default>
    <div class="TagContainer">
      <div class="Details">
        <div class="Description">
          <h1 class="Description__TagHeader">
            {{ currentTitle }}
          </h1>
          <p class="Description__TagSubDescription">
            Explore the world through topics of beautiful photos free to use
            under the Unsplash License.
          </p>
        </div>
      </div>

      <div class="FeatureBox h2spacing">
        <h2>
          Featured
        </h2>
        <Image-Topic class="images" :list="computeFeatures()"> </Image-Topic>
      </div>

      <div class="AllTopicBox h2spacing">
        <h2>
          All topics
        </h2>
        <Image-Topic class="images" :list="computeTopics()"> </Image-Topic>
      </div>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layouts/DefaultLayout.vue";
import ImageTopic from "@/components/ImageTopic.vue";

import { store } from "@/statics/data/store.js";

export default {
  metaInfo() {
    return {
      title: this.currentTitle,
      meta: [
        {
          vmid: "description",
          name: "description",
          content: "List of Unsplash current topic that are currently listed"
        }
      ]
    };
  },
  components: {
    LayoutDefault,
    ImageTopic
  },
  data: function() {
    return {};
  },
  methods: {
    getFeatures: function() {
      return store.features.filter((listData) => listData.type === "features");
    },
    getTopics: function() {
      return store.features.filter((listData) => listData.type === "topic");
    }
  },
  computed: {
    currentTitle: function() {
      return "Topics";
    },
    computeFeatures: function() {
      return this.getFeatures;
    },
    computeTopics: function() {
      return this.getTopics;
    }
  }
};
</script>

<style lang="scss">
.TagContainer {
  padding: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.Description {
  &__TagHeader {
    font-size: 2em;
    line-height: 1.2;
  }

  &__TagSubDescription {
    font-size: 0.9em;
  }
}

.author {
  margin-top: 40px;
}

.InfoBox {
  grid-area: information;
  width: 300px;
}

.images {
  padding-top: 20px;
}

.h2spacing {
  padding-top: 50px;
}
</style>
