<template>
  <div v-if="active" class="onTop">
    <slot />
  </div>
</template>

<script>
export default {
  name: "AppDropdownContent",
  inject: ["sharedState"],
  computed: {
    active() {
      return this.sharedState.active;
    }
  }
};
</script>

<style lang="scss">
.dropdown-content-enter-active,
.dropdown-content-leave-active {
  transition: all 0.2s;
}
.dropdown-content-enter,
.dropdown-content-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.onTop {
  position: absolute;
  z-index: 15;
  background: #333;
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;

  left: auto;
  right: 0;
  right: 25px;
  display: flex;
  flex-direction: column;
}
</style>
