<template>
  <div class="PictureMainContainer">
    <div class="PictureContainer">
      <div
        class="PictureContainer__gallery"
        v-for="(item, index) in items"
        :key="index"
        @mouseover="setIndex(index)"
        @mouseleave="showByIndex = null"
      >
        <figure>
          <div>
            <img
              class=""
              :src="item.urls.regular"
              :alt="item.alt_description"
            />
            <template v-if="hoverIndex(index) || isMobile">
              <div class="links spacing">
                <button class="tagButtons">
                  <font-awesome-icon :icon="heartIcon" />
                </button>
              </div>

              <div class="download spacing">
                <AppDropdown>
                  <template slot="toggler">
                    <button class="tagButtons">
                      <font-awesome-icon :icon="downloadIcon" />
                    </button>
                  </template>
                  <AppDropdownContent
                    style="left:auto; right:0; margin-right:-10px;"
                  >
                    <div
                      class="itemD"
                      v-for="(citem, index) in downloadMockUp"
                      :key="index"
                    >
                      <div
                        @click="
                          downloadNow(item.links.download_location, item.id)
                        "
                        style="color:white; cursor:pointer;"
                      >
                        {{ citem.size }}
                      </div>
                    </div>
                  </AppDropdownContent>
                </AppDropdown>
              </div>
              <div class="profile spacing">
                <a :href="item.user.links.html" class="profile__icon">
                  <img
                    class="profile__icon"
                    :src="item.user.profile_image.large"
                  />
                </a>
                <div class="profile__name">
                  {{ item.user.first_name }} {{ item.user.last_name }}
                </div>
              </div>
            </template>
          </div>
        </figure>
        <!-- <div class="tagList">
          <p v-for="(item, index) in item.tags" :key="index" class="tagged">
            {{ item.title }}
          </p>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faHeart,
  faDownload,
  faSortDown
} from "@fortawesome/free-solid-svg-icons";
import AppDropdown from "@/components/AppDropdown.vue";
import AppDropdownContent from "@/components/AppDropdownContent.vue";

import isMobile from "@/mixins/isMobile";
import config from "@/statics/data/API.js";

export default {
  name: "ImageContainer",
  components: {
    FontAwesomeIcon,
    AppDropdown,
    AppDropdownContent
  },
  mixins: [isMobile],
  props: {
    items: Array
  },
  data: function() {
    return {
      windowWidth: window.innerWidth,
      showByIndex: null,
      heartIcon: faHeart,
      downloadIcon: faDownload,
      downIcon: faSortDown,
      isSearch: false,
      downloadMockUp: [{ size: "Original", link: "" }]
    };
  },
  methods: {
    setIndex(index) {
      this.showByIndex = index;
    },
    hoverIndex(index) {
      if (this.showByIndex === index) {
        return true;
      }

      return false;
    },

    // To be used with server where you can return a url from response
    // eslint-disable-next-line no-unused-vars
    downloadNow(urlLink, id) {
      this.$axios({
        url: `${urlLink}`,
        method: "GET",
        headers: {
          Authorization: `Client-ID ${config.client_ID}`
        },

        responseType: "blob"
        // eslint-disable-next-line no-unused-vars
      }).then((response) => {
        // let blob = new Blob([response.data], { type: "image/png" });
        // let url = window.URL.createObjectURL(blob);
        // let fileLink = document.createElement("a");

        // fileLink.href = url;
        // fileLink.setAttribute("download", id + ".png");

        // document.body.appendChild(fileLink);
        // fileLink.click();
        console.log("Download image");
      });
    }
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss">
.tagged {
  display: inline-block;
  margin-left: 10px;
}

.itemD {
  color: whitesmoke;
  font-size: 1em;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.PictureMainContainer {
  display: flex;
}

.PictureContainer {
  position: relative;
  z-index: 10;
  column-gap: 20px;
  flex-flow: column wrap;

  &__gallery {
    display: flex;
    margin-bottom: 15px;

    figure {
      position: relative;
      width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
    }

    .spacing {
      margin: 20px;
    }

    .links {
      position: absolute;
    }

    .profile {
      position: absolute;
      color: white;
      display: flex;
      alig-items: center;

      &__icon {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background: $backgroundIcon;
        display: inline-block;
      }

      &__name {
        padding: 5px 0;
        margin-left: 10px;
        display: inline-block;
      }
    }

    .download {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.tagButtons {
  font-size: 0.9em;
  outline: 0;
  border: 0;
  box-shadow: 0px 1px 3px 0px $inactiveButton;
  color: gray;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.32em;
  text-align: center;
  border-radius: 3px;
  background: $backgroundColor;

  &:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
    color: black;
    cursor: pointer;
  }
}

/* Masonry on large screens */
@media only screen and (min-width: 1025px) {
  .PictureContainer {
    columns: 3;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .PictureContainer {
    columns: 2;
  }
}

@media only screen and (min-width: 769px) {
  .PictureContainer {
    &__gallery {
      .profile {
        bottom: 0;
        left: 0;
      }

      .links {
        top: 0;
        right: 0;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .PictureContainer {
    &__gallery {
      .profile {
        bottom: 0;
        left: 0;
      }

      .links {
        top: 0;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .PictureContainer {
    columns: 1;

    &__gallery {
      padding: 60px 0;

      .profile {
        top: 0;
        left: 0;
        color: black;
      }

      .links {
        left: 0;
        bottom: 0;
      }

      .spacing {
        margin: -40px 20px;
      }
    }
  }
}
</style>
