<template>
  <div class="image-card-container">
    <div class="image-card" v-for="(item, index) in list" :key="index">
      <router-link :to="`/t/${item.title}`">
        <figure>
          <img
            class="image-card__image"
            :src="item.cover_picture"
            :alt="item.title"
          />

          <Status-Container class="topicStatus" :statusLine="item.status" />
        </figure>

        <div class="image-card__body">
          <p class="image-title">
            {{ item.title }}
          </p>

          <div class="createdBy">
            <div class="createdBy__author">
              by
              <span />
              <a class="externalLink">{{ item.author }}</a>
            </div>

            <img class="createdBy__logo" :src="item.Logo" />
          </div>

          <p class="image-description">
            {{ item.description }}
          </p>

          <p class="image-contribution">
            <font-awesome-icon
              :icon="peopleIcon"
              style="margin-right: 5px; color: grey"
            />
            {{ item.contributions }} contributions
          </p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import StatusContainer from "@/components/statusContainer.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faUserFriends } from "@fortawesome/free-solid-svg-icons";
export default {
  name: "ImageTopic",
  components: {
    FontAwesomeIcon,
    StatusContainer
  },
  props: {
    list: Array
  },
  data: function() {
    return {
      peopleIcon: faUserFriends
    };
  }
};
</script>

<style lang="scss">
.topicStatus {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9em;
}

.image-card-container {
  display: grid;
  grid-gap: 30px;
}

a {
  color: black;

  &:hover {
    text-decoration: underline;
    color: black;
  }
}

.externalLink {
  color: $inactiveTopicColor;
}

figure {
  position: relative;
  width: 100%;
  margin: 0;
}

.image-card {
  border-radius: 6px;
  background: white;
  box-shadow: -1px 4px 20px 2px rgba(207, 207, 207, 1);

  &__image {
    border-radius: 6px 6px 0 0;
    width: 100%;
    object-fit: cover;
    height: 150px;
  }

  &__body {
    padding: 1rem;
  }

  &:hover {
    box-shadow: -1px 4px 20px 2px rgb(161, 161, 161);
  }
}

.image-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
.image-description,
.image-contribution {
  margin-top: 2.7em;
  line-height: 1.2em;
  font-size: 0.9rem;
  margin-bottom: 0.2em;
}
.image-title,
.image-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.createdBy {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-areas: "author logo";
  grid-gap: 10px;

  &__author {
    grid-area: author;
    margin-top: 0.7em;
    line-height: 1.2em;
    font-size: 0.9rem;
    margin-bottom: 0.2em;
    color: $inactiveTopicColor;
  }

  &__logo {
    grid-area: logo;
    margin-left: auto;
    height: 40px;
    width: 40px;
    background: $backgroundIcon;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1025px) {
  .image-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .image-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768) {
  .image-card-container {
    grid-template-columns: 1fr;
  }
}
</style>
