<template>
  <header class="nav">
    <router-link to="/" class="title">
      <img class="title__icon" src="@/assets/images/u192.png" />
      <div class="title__subText" v-if="!isMobile">
        <div style="font-weight: bold">
          Unsplash
        </div>
        <span />
        <div>
          Photo for everyone
        </div>
      </div>
    </router-link>

    <div class="searchWrapper">
      <div class="search">
        <input
          type="text"
          name="search"
          placeholder="Search.."
          v-on:keyup.enter="searchNow"
          v-model="searchValue"
          class="searchContainer"
        />
        <button
          v-if="showClose"
          class="close-icon"
          @click="resetSearch"
        ></button>
      </div>
    </div>

    <div class="navLinks">
      <template v-if="isMobile">
        <div class="navIcon">
          <AppDropdown style="width: 30px; height: 30px; font-size: 1.8em">
            <template slot="toggler">
              <font-awesome-icon :icon="barIcon" class="barIcon" />
            </template>
            <AppDropdownContent>
              <div class="container">
                <div class="item" v-for="(item, index) in navList" :key="index">
                  <router-link :to="item.link">
                    <b> {{ item.name }}</b>
                  </router-link>
                </div>
              </div>
            </AppDropdownContent>
          </AppDropdown>
        </div>
      </template>

      <template v-else>
        <div class="container">
          <div class="item" v-for="(item, index) in navList" :key="index">
            <router-link :to="item.link">
              <b> {{ item.name }} </b>
            </router-link>
          </div>
        </div>
      </template>
    </div>
  </header>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faBars } from "@fortawesome/free-solid-svg-icons";
import AppDropdown from "@/components/AppDropdown.vue";
import AppDropdownContent from "@/components/AppDropdownContent.vue";
import isMobile from "@/mixins/isMobile";

export default {
  components: {
    FontAwesomeIcon,
    AppDropdown,
    AppDropdownContent
  },
  mixins: [isMobile],
  data: function() {
    return {
      windowWidth: window.innerWidth,
      searchValue: "",
      barIcon: faBars,
      showClose: false,
      navList: [
        { name: "Topics", link: "/t/" },
        { name: "About", link: "/about/" },
        { name: "Blog", link: "/blog/" }
      ],
      activeClass: "active"
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  methods: {
    searchNow(event) {
      const textbox = event.target;
      this.searchValue = textbox.value;

      if (!this.searchValue) {
        return;
      }

      this.$router.push("/s/" + this.searchValue);

      textbox.value = "";
      this.searchValue = "";
    },
    resetSearch() {
      this.searchValue = "";
    }
  },
  watch: {
    searchValue: function(value) {
      if (value.length > 0) {
        this.showClose = true;
      } else {
        this.showClose = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.barIcon {
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: white;
  }
}

.title {
  display: flex;
  align-items: center;

  &__icon {
    height: 35px;
    width: 35px;
    background: $backgroundIcon;
  }

  &__subText {
    margin-left: 10px;
    color: white;
    padding: 5px 0;
  }
}

.container {
  display: flex;
}

header {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.75em;
  padding: 5px 10px;
  max-width: 1400px;
  margin: 0 auto;
  color: $navColor;
}

.searchWrapper {
  flex: 1;
}

.searchContainer {
  outline: 0;
  width: 100%;
  border-radius: 25px;
  font-size: 0.9em;
  padding: 8px;
  border: 2px solid white;
}

.close-icon {
  position: absolute;
  right: 2px;
  top: 6px;

  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fa9595;
  margin-left: auto;
  padding: 2px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #e50f0f;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  // width: 100%;

  > * {
    margin: 0 10px;
  }

  margin: 0 auto;
}

.search {
  position: relative;
  display: flex;
}

.router-link-active {
  color: white;
}

a {
  color: $navColor;
}

@media only screen and (max-width: 768px) {
  .unsplashIcon {
    vertical-align: middle;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .item {
    font-size: 0.8em;

    a {
      &:hover {
        color: white;
      }
    }
  }

  .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .item:not(:first-child) {
    margin-left: 20px;
  }

  .item {
    flex-grow: 1;
    font-size: 1.2em;

    a {
      &:hover {
        color: white;
      }
    }
  }
}
</style>
