<template>
  <div
    class="statusContainer"
    :class="{ green: statusLine === 'Open', red: statusLine === 'Closed' }"
  >
    <div class="status offered grow"></div>

    <b class="statusLine">
      {{ statusLine }}
    </b>
  </div>
</template>

<script>
export default {
  name: "status",
  props: {
    statusLine: String
  }
};
</script>

<style lang="scss">
.statusContainer {
  padding: 0 20px;
  border-radius: 10px;
  height: 35px;
}

.statusLine {
  display: inline-block;
  margin-top: 7px;
}

.green {
  color: black;
  background: #c2ebd3;
}

.red {
  color: black;
  background: rgb(233, 166, 166);
}

.grow {
  backface-visibility: none;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
}

.status {
  display: inline-block;

  $size: 18px;
  width: $size;
  height: $size;
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 70%;
    left: 00%;
  }

  &.offered {
    border-width: 2px;

    &:before {
      content: "";
      $size: 10px;
      margin-left: -$size/2;
      margin-top: -$size/2;
      width: $size;
      height: $size;
      border-radius: $size/2;
    }
  }

  .green &.status {
    &.offered {
      border-color: #15c079;

      &:before {
        background: #15c079;
      }
    }
  }

  .red &.status {
    &.offered {
      border-color: #d61620;

      &:before {
        background: #d61620;
      }
    }
  }
}
</style>
