<template>
  <div class="tagHeaderList">
    <div class="innerTagList">
      <router-link
        v-for="(item, index) in getTagList"
        :key="index"
        :to="'/t/' + item.title"
        ><b>{{ item.title }}</b></router-link
      >
    </div>
  </div>
</template>

<script>
import { store } from "@/statics/data/store.js";

export default {
  components: {},
  data: function() {
    return {};
  },
  computed: {
    getTagList: function() {
      return store.features;
    }
  }
};
</script>

<style lang="scss">
.innerTagList {
  max-width: 1400px;
  margin: 0 auto;
}

.tagHeaderList {
  box-shadow: 2px 3px 5px 0px $inactiveButton;
  overflow: auto;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 5px;

  a {
    color: $tagColor;

    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-bottom: rgb(243, 243, 243) 2px solid;

    &:hover {
      color: black;
      border-bottom: #777 2px solid;
    }
  }

  .router-link-active {
    color: black;
    border-bottom: #777 2px solid;
  }
}
</style>
