<template>
  <div class="tagList">
    <p class="tagList__items" v-for="(item, index) in items" :key="index">
      {{ item }}
    </p>
  </div>
</template>

<script>
export default {
  name: "ImageContainer",
  props: {
    items: Array
  },
  components: {},
  data: function() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.tagList {
  padding: 10px;

  &__items {
    padding: 0 10px;
  }
}
</style>
