<template>
  <div class="innerBody">
    <div class="innerBody__headNav">
      <navbar />
    </div>

    <div class="innerBody__content">
      <router-view />
    </div>
  </div>
</template>

<script>
import navbar from "./components/navbar";

export default {
  metaInfo: {
    title: "Unsplash",
    titleTemplate: "%s | Unsplash",
    meta: [
      { charset: "utf-8" },
      { name: "description", content: "Unsplash" },
      { name: "viewport", content: "width=device-width, initial-scale=1" }
    ]
  },

  components: {
    navbar
  }
};
</script>
<style lang="scss">
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  background: $backgroundColor;

  ::selection {
    background: $baseColour;
    color: white;
  }
}

.innerBody {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__headNav {
    background: $baseColour;
  }

  &__content {
  }
}

a {
  text-decoration: none !important;
}
</style>
