$inactiveColor: rgb(228, 228, 228);
$inactiveTopicColor: rgb(163, 163, 163);
$baseColour: #7058ff;
$darkBaseColor: rgb(85, 59, 231);
$backgroundColor: #f8fcff;
$tagColor: rgb(116, 116, 116);
$navColor: rgb(226, 226, 226);
$backgroundIcon: rgb(192, 192, 192);
$inactiveButton: rgba(0, 0, 0, 0.35);
