<template>
  <div class="LayoutDefault">
    <Tag-Header />
    <slot />
  </div>
</template>

<script>
import TagHeader from "@/components/tagHeader.vue";

export default {
  components: { TagHeader },
  data: function() {
    return {
      name: "Default Page"
    };
  }
};
</script>

<style>
.LayoutDefault {
  height: max-content;
}
</style>
